footer {
  overflow: hidden;
}

.footer {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include _768 {
    flex-direction: column;
  }

  @include _560 {
    padding: 60px 0 80px 0;
  }
}

.footer__left {
  max-width: 520px;
  margin-right: 60px;

  @include _768 {
    margin-right: 0;
  }
}

.footer__title {
  @include MontserratSans(56px, 700, 66px);
  color: $black;
  text-transform: uppercase;

  span {
    color: $gold;
  }

  @include _1024 {
    font-size: 50px;
  }

  @include _560 {
    font-size: 42px;
    line-height: 52px;
  }

  @include mediaMax(481px) {
    font-size: 42px;
    line-height: 48px;
  }

  @include _375 {
    font-size: 34px;
    line-height: 40px;
  }
}

.footer__right {
  max-width: 600px;
  width: 100%;

  @include _768 {
    margin-top: 30px;
  }
}

.footer__form-container {
  position: relative;
  margin-bottom: 20px;
}

.footer__form-input {
  @include MontserratSans(16px, 400, inherit);
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid $black;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding: 26px 20px 10px;
  width: calc(100% - 42px);
  color: $black;

  @include mediaMax(321px) {
    font-size: 14px;
  }
}

.form-input.invalid-input {
  border: 1px solid red;

  &~.footer__form-label {
    left: 15px;
  }
}

.footer__form-input:focus~.footer__form-label,
.footer__form-input:valid~.footer__form-label {
  transform: translateY(-100%) scale(0.7);
}

.footer__form-label {
  @include MontserratSans(16px, 400, inherit);
  pointer-events: none;
  position: absolute;
  top: 24px;
  left: 0;
  color: #222222;
  opacity: .5;
  transition: 0.2s linear;
  transform-origin: left;

  @include mediaMax(321px) {
    font-size: 14px;
  }
}

.footer__form-button {
  margin-top: 10px;
  @include MontserratSans(16px, 700, inherit);
  color: $white;
  background-color: $gold;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px 10px;
  width: 400px;
  cursor: pointer;

  @include _1200 {
    width: 100%;
  }

  @include mediaMax(431px) {
    padding: 22px 10px;
    font-size: 18px;
  }

  @include _320 {
    font-size: 16px;
  }
}

.footer__logo {
  object-fit: contain;
  margin-top: 60px;
}

.footer__info {
  width: 260px;
  margin-top: 40px;

  @include _1200 {
    width: 170px;
  }
}

.footer__info-name {
  @include MontserratSans(24px, 700, 32px);
  max-width: 200px;
  color: $black;
  text-transform: uppercase;
}

.footer__info-post {
  margin-top: 5px;
  @include MontserratSans(14px, 300, 19px);
  color: $black;
}

.footer__info-phone {
  margin-top: 50px;
  @include MontserratSans(18px, 300, 24px);
  color: $black;
}

.footer__info-location {
  margin-top: 20px;
  @include MontserratSans(18px, 300, 24px);
  color: $black;
}

.footer__woman {
  position: absolute;
  bottom: 0;
  right: 0;

  @include _1200 {
    right: -100px;
  }

  @include _1024 {
    right: -60px;
    width: 260px;
    height: 280px;
  }

  @include _768 {
    width: 350px;
    height: 400px;
  }

  @include mediaMax(481px) {
    width: 320px;
    height: 370px;
  }

  @include mediaMax(431px) {
    width: 260px;
    height: 310px;
  }

  @include _400 {
    right: -80px;
  }

  @include _320 {
    right: -120px;
  }
}





.form__succsess {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.form__succsess-inner {
  position: relative;
  width: 290px;
  background-color: #fff;
  padding: 20px 30px;
  height: 160px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__succsess-close {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 35%;
    right: 15%;
    width: 15px;
    height: 1px;
    background-color: #000;
  }

  &:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.form__succsess-text {
  text-align: center;
  margin-top: 20px;
  @include MontserratSans(16px, 400, inherit);
  color: #000;
}